


body {
  background: #1E2124;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.outer {
  background: #4E4E4E;
  width: calc(640px );
  height: calc(500px);
  margin-left: calc((640px) / -2);
  margin-top: calc((500px ) / -2); 
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 4px;
}

.inner {
  width: 640px;
  height: 478px;
  background: #262626;
  color: #FFD7AF;
  overflow-x: hidden;
  overflow-y: hidden;
}

.message {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

hr {
  border: none;
  border-top: 1px solid #454545;
  margin: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

input {
  width: 640px;
  color: #FFD7AF;
  margin-top: 4px;
  background: #323539;
  border: 0;
  /*padding-left: 4px;*/
  padding-left: 90px;
  padding-right: 4px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  background: #353842;
}

#nick {
  position: absolute;
  top:0;left:4px;
  color: white;
}


